@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
  background-color: aqua
};

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div {
    display: flex;
    gap: 30px;
}

button {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#red {
    background-color: red;
    color: white;
    font-size: 20px;
}
#green {
    background-color: green;
    color: white;
    font-size: 20px; 
}
#blue {
    background-color: blue;
    color: white;
    font-size: 20px;
}

.head_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.section {
    display: flex;
    margin-top: 100px;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.section_bloc {
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(29, 29, 74);
    color: white;
}